<div class="card blue-grey darken-1">
  <div class="card-content white-text">
    <span class="card-title"><%= @article.title %></span>
    <p>
      <%= @article.text %>
    </p>
  </div>
  <div class="card-action">
    <%= link_to '編集', edit_article_path(@article), method: :get %>
    <%= link_to '削除', article_path(@article), method: :delete %>
  </div>
</div>
<div>
  <% if user_signed_in? %>
    <%= form_with(model: [ @article, Comment.new ], id: "new_comment") do |f| %>
      <div class="row">
        <div class="input-field col s8">
          <%= f.text_area :text, class:"materialize-textarea", placeholder: "コメントしてください" %>
        </div>
        <div class="col s12">
          <%= f.submit "送信" %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div  id="comment-list">
    <h5>コメント一覧</h5>
    <% if @comments %>
      <% @comments.each do |comment| %>
        <p>
          <%= link_to "#{comment.user.nickname}", user_path(@article.user.id) %>
          <%= comment.text %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
